<?
if(isset($Model->Prefix)) {
	echo '.col-', $Model->Prefix, '{display:flex;flex-direction:column;align-items:stretch}';
}
else {
	echo '.col{display:flex;flex-direction:column;align-items:stretch}';
}

if(isset($Model->Prefix)) {
	echo '.rcol-', $Model->Prefix, '{display:flex;flex-direction:column-reverse;align-items:stretch}';
}
else {
	echo '.rcol{display:flex;flex-direction:column-reverse;align-items:stretch}';
}
?>