<?
foreach($Model->Sizes as $key => $value) {
	if(isset($Model->Prefix)) {
		$prefix = '.cp-'.$Model->Prefix.'-'.$key;
	}
	else {
		$prefix = '.cp-'.$key;
	}

	echo $prefix, '-,', $prefix, '-h,', $prefix, '-l{margin-left:-', $value, 'rem!important}';

	echo $prefix, '-,', $prefix, '-h,', $prefix, '-r{margin-right:-', $value, 'rem!important}';

	echo $prefix, '-,', $prefix, '-v,', $prefix, '-t{margin-top:-', $value, 'rem!important}';

	echo $prefix, '-,', $prefix, '-v,', $prefix, '-b{margin-bottom:-', $value, 'rem!important}';

	echo $prefix, '->*,', $prefix, '-h>*,', $prefix, '-l>*{padding-left:', $value, 'rem!important}';

	echo $prefix, '->*,', $prefix, '-h>*,', $prefix, '-r>*{padding-right:', $value, 'rem!important}';

	echo $prefix, '->*,', $prefix, '-v>*,', $prefix, '-t>*{padding-top:', $value, 'rem!important}';

	echo $prefix, '->*,', $prefix, '-v>*,', $prefix, '-b>*{padding-bottom:', $value, 'rem!important}';
}
?>