<?
foreach($Model->Sizes as $key => $value) {
	if($value === null) {
		continue;
	}

	if(isset($Model->Prefix)) {
		$prefix = '.cm-'.$Model->Prefix.'-'.$key;
	}
	else {
		$prefix = '.cm-'.$key;
	}

	echo $prefix, '-,', $prefix, '-h,', $prefix, '-l{margin-left:-', $value, 'rem!important}';

	echo $prefix, '-,', $prefix, '-h,', $prefix, '-r{margin-right:-', $value, 'rem!important}';

	echo $prefix, '-,', $prefix, '-v,', $prefix, '-t{margin-top:-', $value, 'rem!important}';

	echo $prefix, '-,', $prefix, '-v,', $prefix, '-b{margin-bottom:-', $value, 'rem!important}';

	echo $prefix, '->*,', $prefix, '-h>*,', $prefix, '-l>*{margin-left:', $value, 'rem!important}';

	echo $prefix, '->*,', $prefix, '-h>*,', $prefix, '-r>*{margin-right:', $value, 'rem!important}';

	echo $prefix, '->*,', $prefix, '-v>*,', $prefix, '-t>*{margin-top:', $value, 'rem!important}';

	echo $prefix, '->*,', $prefix, '-v>*,', $prefix, '-b>*{margin-bottom:', $value, 'rem!important}';

	echo $prefix, '->.slide.up,', $prefix, '-v>.slide.up,', $prefix, '-t>.slide.up{margin-top:-', $value, 'rem!important}';

	echo $prefix, '->.slide.up,', $prefix, '-v>.slide.up,', $prefix, '-b>.slide.up{margin-bottom:', $value, 'rem!important}';
}

foreach($Model->Sizes as $key => $value) {
	if($value === null) {
		continue;
	}

	if(isset($Model->Prefix)) {
		$prefix = '.cpm-'.$Model->Prefix.'-'.$key;
	}
	else {
		$prefix = '.cpm-'.$key;
	}

	echo $prefix, '-,', $prefix, '-h,', $prefix, '-l{margin-left:calc(', $Model->ParagraphLineHeight / 2 - 0.5, 'em - ', $value, 'rem)!important}';

	echo $prefix, '-,', $prefix, '-h,', $prefix, '-r{margin-right:calc(', $Model->ParagraphLineHeight / 2 - 0.5, 'em - ', $value, 'rem)!important}';

	echo $prefix, '-,', $prefix, '-v,', $prefix, '-t{margin-top:calc(', $Model->ParagraphLineHeight / 2 - 0.5, 'em - ', $value, 'rem)!important}';

	echo $prefix, '-,', $prefix, '-v,', $prefix, '-b{margin-bottom:calc(', $Model->ParagraphLineHeight / 2 - 0.5, 'em - ', $value, 'rem)!important}';

	echo $prefix, '->p,', $prefix, '-h>p,', $prefix, '-l>p{margin-left:calc(', $value, 'rem - ', $Model->ParagraphLineHeight - 1, 'em)!important}';

	echo $prefix, '->p,', $prefix, '-h>p,', $prefix, '-r>p{margin-right:calc(', $value, 'rem - ', $Model->ParagraphLineHeight - 1, 'em)!important}';

	echo $prefix, '->p,', $prefix, '-v>p,', $prefix, '-t>p{margin-top:calc(', $value, 'rem - ', $Model->ParagraphLineHeight - 1, 'em)!important}';

	echo $prefix, '->p,', $prefix, '-v>p,', $prefix, '-b>p{margin-bottom:calc(', $value, 'rem - ', $Model->ParagraphLineHeight - 1, 'em)!important}';
}
?>