<?
foreach($Model->Wrap as $wKey => $wValue) {
	$classes = [];

	foreach($Model->HAlign as $haKey => $haValue) {
		foreach($Model->VAlign as $vaKey => $vaValue) {
			if(isset($Model->Prefix)) {
				$classes[] = '.flex-'.$Model->Prefix.'-'.$wKey.'-'.$haKey.'-'.$vaKey;
			}
			else {
				$classes[] = '.flex-'.$wKey.'-'.$haKey.'-'.$vaKey;
			}
		}
	}

	echo implode(',', $classes), '{flex-wrap:', $wValue, '!important}';
}

foreach($Model->HAlign as $haKey => $haValue) {
	$classes = [];

	foreach($Model->Wrap as $wKey => $wValue) {
		foreach($Model->VAlign as $vaKey => $vaValue) {
			if(isset($Model->Prefix)) {
				$classes[] = '.flex-'.$Model->Prefix.'-'.$wKey.'-'.$haKey.'-'.$vaKey;
			}
			else {
				$classes[] = '.flex-'.$wKey.'-'.$haKey.'-'.$vaKey;
			}
		}
	}

	echo implode(',', $classes), '{justify-content:', $haValue, '!important}';
}

foreach($Model->VAlign as $vaKey => $vaValue) {
	$classes = [];

	foreach($Model->Wrap as $wKey => $wValue) {
		foreach($Model->HAlign as $haKey => $haValue) {
			if(isset($Model->Prefix)) {
				$classes[] = '.flex-'.$Model->Prefix.'-'.$wKey.'-'.$haKey.'-'.$vaKey;
			}
			else {
				$classes[] = '.flex-'.$wKey.'-'.$haKey.'-'.$vaKey;
			}
		}
	}

	echo implode(',', $classes), '{align-content:', $vaValue[0], '!important;align-items:', $vaValue[1], '!important}';
}

foreach($Model->IAlign as $key => $value) {
	$classes = [];

	if(isset($Model->Prefix)) {
		$classes[] = '.flex-ia-'.$Model->Prefix.'-'.$key;
	}
	else {
		$classes[] = '.flex-ia-'.$key;
	}

	echo implode(',', $classes), '{align-items:', $value, '!important}';
}

if(isset($Model->Prefix)) {
	echo '.c-', $Model->Prefix, '{flex:0 1 auto!important;min-width:0px}';
}
else {
	echo '.c{flex:0 1 auto!important;min-width:0px}';
}

for($i = 1; $i <= $Model->Columns; ++$i) {
	if(isset($Model->Prefix)) {
		echo '.c', $i, '-', $Model->Prefix, '{flex:0 1 ', round($i / $Model->Columns * 100, 5), '%!important;min-width:0px}';
	}
	else {
		echo '.c', $i, '{flex:0 1 ', round($i / $Model->Columns * 100, 5), '%!important;min-width:0px}';
	}
}

if(isset($Model->Prefix)) {
	echo '.ca-', $Model->Prefix, '{flex:1 1 auto!important;min-width:0px}';
}
else {
	echo '.ca{flex:1 1 auto!important;min-width:0px}';
}

if(isset($Model->Prefix)) {
	echo '.cn-', $Model->Prefix, '{flex:none!important;min-width:0px}';
}
else {
	echo '.cn{flex:none!important;min-width:0px}';
}

for($i = 1; $i <= $Model->Orders; ++$i) {
	if(isset($Model->Prefix)) {
		echo '.co-'.$Model->Prefix.'-', $i, '{order:', $i - 1, '}';
	}
	else {
		echo '.co-', $i, '{order:', $i - 1, '!important}';
	}
}
?>