<?
foreach($Model->Sizes as $i => $size) {
	if(isset($Model->Prefix)) {
		echo '.fs-', $Model->Prefix, '-', $size['Key'], '{font-size:', $size['Value'], ';line-height:', $size['Value'], '}';

		foreach($Model->Screens as $screen) {
			if($screen['Variant'] !== null) {
				continue;
			}

			$i = max(0, min(count($Model->Sizes) - 1, $screen['Index'] - $Model->Screen['Index'] + $screen['Index']));

			echo '.fs-a-', $Model->Sizes[$i]['Key'], '-', $screen['Prefix'], '{font-size:', $Model->Sizes[$i]['Value'], ';line-height:', $Model->Sizes[$i]['Value'], '}';
		}
	}
	else {
		echo '.fs-', $size['Key'], '{font-size:', $size['Value'], ';line-height:', $size['Value'], '}';
	}
}


foreach($Model->Sizes as $i => $size) {
	if(isset($Model->Prefix)) {
		echo 'p.fs-', $Model->Prefix, '-', $size['Key'], '{font-size:', $size['Value'], ';line-height:calc(', $size['Value'], ' + 0.25rem)}';

		foreach($Model->Screens as $screen) {
			if($screen['Variant'] !== null) {
				continue;
			}

			$i = max(0, min(count($Model->Sizes) - 1, $screen['Index'] - $Model->Screen['Index'] + $screen['Index']));

			echo 'p.fs-a-', $Model->Sizes[$i]['Key'], '-', $screen['Prefix'], '{font-size:', $Model->Sizes[$i]['Value'], ';line-height:calc(', $Model->Sizes[$i]['Value'], ' + 0.25rem)}';
		}
	}
	else {
		echo 'p.fs-', $size['Key'], '{font-size:', $size['Value'], ';line-height:calc(', $size['Value'], ' + 0.25rem)}';
	}
}
?>