<?
foreach($Model->Sizes as $key => $value) {
	if($value === null) {
		continue;
	}

	if(isset($Model->Prefix)) {
		$prefix = '.-m-'.$Model->Prefix.'-'.$key;
	}
	else {
		$prefix = '.-m-'.$key;
	}

	echo $prefix, '-,', $prefix, '-h,', $prefix, '-l{margin-left:-', $value, 'rem!important}';

	echo $prefix, '-,', $prefix, '-h,', $prefix, '-r{margin-right:-', $value, 'rem!important}';

	echo $prefix, '-,', $prefix, '-v,', $prefix, '-t{margin-top:-', $value, 'rem!important}';

	echo $prefix, '-,', $prefix, '-v,', $prefix, '-b{margin-bottom:-', $value, 'rem!important}';
}

foreach($Model->Sizes as $key => $value) {
	if(isset($Model->Prefix)) {
		$prefix = '.m-'.$Model->Prefix.'-'.$key;
	}
	else {
		$prefix = '.m-'.$key;
	}

	if($value === null) {
		$value = 'auto';
	}
	else {
		$value = $value.'rem';
	}

	echo $prefix, '-,', $prefix, '-h,', $prefix, '-l{margin-left:', $value, '!important}';

	echo $prefix, '-,', $prefix, '-h,', $prefix, '-r{margin-right:', $value, '!important}';

	echo $prefix, '-,', $prefix, '-v,', $prefix, '-t{margin-top:', $value, '!important}';

	echo $prefix, '-,', $prefix, '-v,', $prefix, '-b{margin-bottom:', $value, '!important}';
}
?>