<?
foreach($Model->Sizes as $key => $value) {
	if(isset($Model->Prefix)) {
		$prefix = '.p-'.$Model->Prefix.'-'.$key;
	}
	else {
		$prefix = '.p-'.$key;
	}

	echo $prefix, '-,', $prefix, '-h,', $prefix, '-l{padding-left:', $value, 'rem!important}';

	echo $prefix, '-,', $prefix, '-h,', $prefix, '-r{padding-right:', $value, 'rem!important}';

	echo $prefix, '-,', $prefix, '-v,', $prefix, '-t{padding-top:', $value, 'rem!important}';

	echo $prefix, '-,', $prefix, '-v,', $prefix, '-b{padding-bottom:', $value, 'rem!important}';
}
?>