<?
if(isset($Model->Prefix)) {
	echo '.row-', $Model->Prefix, '{display:flex;flex-direction:row;align-items:stretch}';
}
else {
	echo '.row{display:flex;flex-direction:row;align-items:stretch}';
}

if(isset($Model->Prefix)) {
	echo '.rrow-', $Model->Prefix, '{display:flex;flex-direction:row-reverse;align-items:stretch}';
}
else {
	echo '.rrow{display:flex;flex-direction:row-reverse;align-items:stretch}';
}
?>