<?
for($i = 0; $i <= $Model->Columns; ++$i) {
	if(isset($Model->Prefix)) {
		echo '.w', $i, '-', $Model->Prefix, '{width:', round($i / $Model->Columns * 100, 5), '%}';

		echo '.miw', $i, '-', $Model->Prefix, '{min-width:', round($i / $Model->Columns * 100, 5), '%}';

		echo '.maw', $i, '-', $Model->Prefix, '{max-width:', round($i / $Model->Columns * 100, 5), '%}';

		echo '.h', $i, '-', $Model->Prefix, '{height:', round($i / $Model->Columns * 100, 5), '%}';

		echo '.mih', $i, '-', $Model->Prefix, '{min-height:', round($i / $Model->Columns * 100, 5), '%}';

		echo '.mah', $i, '-', $Model->Prefix, '{max-height:', round($i / $Model->Columns * 100, 5), '%}';
	}
	else {
		echo '.w', $i, '{width:', round($i / $Model->Columns * 100, 5), '%}';

		echo '.miw', $i, '{min-width:', round($i / $Model->Columns * 100, 5), '%}';

		echo '.maw', $i, '{max-width:', round($i / $Model->Columns * 100, 5), '%}';

		echo '.h', $i, '{height:', round($i / $Model->Columns * 100, 5), '%}';

		echo '.mih', $i, '{min-height:', round($i / $Model->Columns * 100, 5), '%}';

		echo '.mah', $i, '{max-height:', round($i / $Model->Columns * 100, 5), '%}';
	}
}


for($i = 0; $i <= $Model->Columns; ++$i) {
	if(isset($Model->Prefix)) {
		echo '.vw', $i, '-', $Model->Prefix, '{width:', round($i / $Model->Columns * 100, 5), 'vw}';

		echo '.mivw', $i, '-', $Model->Prefix, '{min-width:', round($i / $Model->Columns * 100, 5), 'vw}';

		echo '.mavw', $i, '-', $Model->Prefix, '{max-width:', round($i / $Model->Columns * 100, 5), 'vw}';

		echo '.vh', $i, '-', $Model->Prefix, '{height:', round($i / $Model->Columns * 100, 5), 'vh}';

		echo '.mivh', $i, '-', $Model->Prefix, '{min-height:', round($i / $Model->Columns * 100, 5), 'vh}';

		echo '.mavh', $i, '-', $Model->Prefix, '{max-height:', round($i / $Model->Columns * 100, 5), 'vh}';
	}
	else {
		echo '.vw', $i, '{width:', round($i / $Model->Columns * 100, 5), 'vw}';

		echo '.mivw', $i, '{min-width:', round($i / $Model->Columns * 100, 5), 'vw}';

		echo '.mavw', $i, '{max-width:', round($i / $Model->Columns * 100, 5), 'vw}';

		echo '.vh', $i, '{height:', round($i / $Model->Columns * 100, 5), 'vh}';

		echo '.mivh', $i, '{min-height:', round($i / $Model->Columns * 100, 5), 'vh}';

		echo '.mavh', $i, '{max-height:', round($i / $Model->Columns * 100, 5), 'vh}';
	}
}

foreach($Model->Sizes as $scope => $sizes) {
	foreach($sizes as $size) {
		if(isset($Model->Prefix)) {
			echo '.w-', $scope, '-', $size['Key'], '-', $Model->Prefix, '{width:', $size['Value'], '}';

			echo '.miw-', $scope, '-', $size['Key'], '-', $Model->Prefix, '{min-width:', $size['Value'], '}';

			echo '.maw-', $scope, '-', $size['Key'], '-', $Model->Prefix, '{max-width:', $size['Value'], '}';

			echo '.h-', $scope, '-', $size['Key'], '-', $Model->Prefix, '{height:', $size['Value'], '}';

			echo '.mih-', $scope, '-', $size['Key'], '-', $Model->Prefix, '{min-height:', $size['Value'], '}';

			echo '.mah-', $scope, '-', $size['Key'], '-', $Model->Prefix, '{max-height:', $size['Value'], '}';
		}
		else {
			echo '.w-', $scope, '-', $size['Key'], '{width:', $size['Value'], '}';

			echo '.miw-', $scope, '-', $size['Key'], '{min-width:', $size['Value'], '}';

			echo '.maw-', $scope, '-', $size['Key'], '{max-width:', $size['Value'], '}';

			echo '.h-', $scope, '-', $size['Key'], '{height:', $size['Value'], '}';

			echo '.mih-', $scope, '-', $size['Key'], '{min-height:', $size['Value'], '}';

			echo '.mah-', $scope, '-', $size['Key'], '{max-height:', $size['Value'], '}';
		}
	}
}
?>