<?
foreach($Model->Alignments as $key => $value) {
	if(isset($Model->Prefix)) {
		echo '.ta-', $Model->Prefix, '-', $key, '{text-align:', $value, '}';
	}
	else {
		echo '.ta-', $key, '{text-align:', $value, '}';
	}
}
?>