<?
foreach($Model->Attributes as $key => $value) {
	if(isset($Model->Prefix)) {
		echo '.t-', $Model->Prefix, '-', $key, '{transition: ', $value, ' 0.4s ease}';
	}
	else {
		echo '.t-', $key, '{transition: ', $value, ' 0.4s ease}';
	}
}
?>