<?
if(isset($Model->Screen)) {
	echo '.hidden-', $Model->Screen['Prefix'], '{display:none!important}';

	foreach($Model->Screens as $i => $screen) {
		if($Model->Screen['Variant'] === null) {
			if($screen['Index'] !== $Model->Screen['Index'] && $screen['Variant'] === null) {
				echo '.', $screen['Prefix'], '{display:none!important}';
			}
		}
		else if($Model->Screen['Variant'] === 'min') {
			if($screen['Index'] === $Model->Screen['Index'] - 1 && $screen['Variant'] === 'max') {
				echo '.', $screen['Prefix'], '{display:none!important}';
			}
		}
		else if($Model->Screen['Variant'] === 'max') {
			if($screen['Index'] === $Model->Screen['Index'] + 1 && $screen['Variant'] === 'min') {
				echo '.', $screen['Prefix'], '{display:none!important}';
			}
		}
	}
}
else {
	echo '.hidden{display:none!important}';
}
?>