* {
	margin:0px;
	padding:0px;
	outline: none;
	box-sizing:border-box;
	border-spacing:0px;
	border-width:0px;
	vertical-align: top;
	box-shadow: none;
}

a {
	cursor: pointer;
}

blockquote {
	line-height: <?=$Model->ParagraphHeight?>rem;
	margin-top: -<?=$Model->ParagraphMargin?>rem;
	margin-bottom: -<?=$Model->ParagraphMargin?>rem;
	font-style: italic;
}

h1 {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1em;
}

h2 {
	font-size: 1.375rem;
	font-weight: bold;
	line-height: 1em;
}

h3 {
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1em;
}

h4 {
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 1em;
}

h5 {
	font-size: 1rem;
	font-weight: bold;
	line-height: 1em;
}

h6 {
	font-size: 1rem;
	font-weight: bold;
	line-height: 1em;
}

html {
	font-size: <?=$Model->DefaultFontSize?>;
	line-height: 1em;
}

ol {
	list-style-position: inside;
}

ol > li {
	line-height: 1.5rem;
	margin-top: -0.25rem;
	margin-bottom: -0.25rem;
}

p {
	line-height: <?=$Model->ParagraphHeight?>rem;
	margin-top: -<?=$Model->ParagraphMargin?>rem;
	margin-bottom: -<?=$Model->ParagraphMargin?>rem;
}

ul {
	list-style-position: inside;
}

ul > li {
	line-height: 1.5rem;
	margin-top: -0.25rem;
	margin-bottom: -0.25rem;
}

ul:before, ul:after {
	display: block;
	content: ".";
	font-size: 0rem;
	line-height: 0rem;
	clear: both;
}

.ellipsis {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.i-tab {
	display: flex;
	flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-wrap: wrap;
	position: relative;
}

.i-tab > label {
	display: block;
	flex:none;
}

.i-tab > textarea {
	display: block;
	cursor: text;
	background: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: 1em;
	width: 100%;
	flex:none;
}

.i-cb {
	position: relative;
}

.i-cb > input {
	cursor: pointer;
	display: inline-block;
}

.i-cb > label {
	cursor: pointer;
	display: inline-block;
}

.i-tb {
	display: flex;
	flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-wrap: wrap;
	position: relative;
}

.i-tb > label {
	display: block;
	flex: none;
}

.i-tb > input {
	cursor: text;
	display: block;
	background: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: 1em;
	width: 100%;
	flex: none;
}

.i-sb > input {
	display: block;
	cursor: pointer;
	background: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: 1em;
	width: 100%;
}

.i-ddl {
	display: flex;
	flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-wrap: wrap;
	position: relative;
}

.i-ddl > label {
	display: block;
	flex: none;
}

.i-ddl > select {
	display: block;
	cursor: pointer;
	background: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: 1em;
	width: 100%;
	flex: none;
}

.i-sl {
	width: 100%;
	position: absolute;
	left: 0%;
	top: 100%;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.i-sli {
	display: block;
	padding: 0.75rem 1rem;
	background-color: rgba(248, 248, 248, 1.0);
	border-top: 1px solid rgba(224, 224, 224, 1.0);
	text-decoration: none;
}

.i-sli:hover {
	background-color: rgba(240, 240, 240, 1.0);
	text-decoration: none;
}

.window {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
	padding: 4rem 0rem;
	background-color: rgba(0, 0, 0, 0.75);
	overflow: auto;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 1000;
}

.window .content {
	background-color: rgba(255, 255, 255, 1.0);
}

.solid {
	display: block;
}

.solid:before, .solid:after {
	display: block;
	content: ".";
	font-size: 0rem;
	line-height: 0rem;
	clear: both;
}

.stretch {
	width: 100%;
	height: 100%;
}

.shrinkable {
	max-width: 100%;
	max-height: 100%;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* display */
.block{display:block}
.inline-block{display:inline-block}

/* vertical alignment */
.va-t{vertical-align:top}
.va-m{vertical-align:middle}
.va-b{vertical-align:bottom}

/* positioning method */
.rel{position:relative}

/* overflow */
.of-h{overflow:hidden}

.disableTransitions {
	transition: none!important;
}

.disableTransitions * {
	transition: none!important;
}

n\:messages {
	display: block;
	position: relative;
}

n\:messages .error {
	margin: 0px;
	padding: 0.5rem 1rem;
	background-color: rgba(255, 240, 240, 1.0);
	color: rgba(128, 0, 0, 0.75);
	line-height: 1.5em;
}

n\:messages .success {
	margin: 0px;
	padding: 0.5rem 1rem;
	background-color: rgba(240, 255, 240, 1.0);
	color: rgba(0, 128, 0, 0.75);
	line-height: 1.5em;
}

*[n\:slider] {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

*[n\:slider] > * {
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;
	transition: width 0.4s ease, left 0.4s ease;
}

<?
echo '%["Controls", "FontSize"]%';

echo '%["Controls", "TextAlign"]%';

echo '%["Controls", "Size"]%';

echo '%["Controls", "Row"]%';

echo '%["Controls", "Column"]%';

echo '%["Controls", "Flex"]%';

echo '%["Controls", "Visibility"]%';

echo '%["Controls", "Transition"]%';

echo '%["Controls", "ContentMargin"]%';

echo '%["Controls", "ContentPadding"]%';

echo '%["Controls", "Margin"]%';

echo '%["Controls", "Padding"]%';

foreach($Model->Screens as $i => $screen) {
	if($screen['MinWidth'] !== null || $screen['MaxWidth'] !== null) {
		if($screen['MinWidth'] !== null && $screen['MaxWidth'] !== null) {
			echo '@media (min-width: ', $screen['MinWidth'], 'px) and (max-width: ', $screen['MaxWidth'], 'px) {';
		}
		else if($screen['MinWidth'] !== null) {
			echo '@media (min-width: ', $screen['MinWidth'], 'px) {';
		}
		else if($screen['MaxWidth'] !== null) {
			echo '@media (max-width: ', $screen['MaxWidth'], 'px) {';
		}
	}

	echo '%["Controls", "FontSize.', $i, '"]%';

	echo '%["Controls", "TextAlign.', $i, '"]%';

	echo '%["Controls", "Size.', $i, '"]%';

	echo '%["Controls", "Row.', $i, '"]%';

	echo '%["Controls", "Column.', $i, '"]%';

	echo '%["Controls", "Flex.', $i, '"]%';

	echo '%["Controls", "Visibility.', $i, '"]%';

	echo '%["Controls", "Transition.', $i, '"]%';

	echo '%["Controls", "ContentMargin.', $i, '"]%';

	echo '%["Controls", "ContentPadding.', $i, '"]%';

	echo '%["Controls", "Margin.', $i, '"]%';

	echo '%["Controls", "Padding.', $i, '"]%';

	if($screen['MinWidth'] !== null || $screen['MaxWidth'] !== null) {
		echo '}';
	}
}

/*foreach($Model->ScreenSizes as $screenSizePrefix => $screenSize) {
	if($screenSize['Min'] !== null) {
		if($screenSize['Max'] !== null) {
			echo '@media (min-width: ', $screenSize['Min'], 'px) and (max-width: ', $screenSize['Max'], 'px) {';
		}
		else {
			echo '@media (min-width: ', $screenSize['Min'], 'px) {';
		}
	}
	else if($screenSize['Max'] !== null) {
		echo '@media (max-width: ', $screenSize['Max'], 'px) {';
	}

	foreach($Model->Margins as $prefix => $value) {
		if(isset($screenSizePrefix[0])) {
			$prefix = '.slideUp.mar-'.$screenSizePrefix.'-'.$prefix;
		}
		else {
			$prefix = '.slideUp.mar-'.$prefix;
		}

		$value = $value.'rem' ?? 'auto';

		echo $prefix, '-,', $prefix, '-h,', $prefix, '-l{margin-left:0px!important}';

		echo $prefix, '-,', $prefix, '-h,', $prefix, '-r{margin-right:0px!important}';

		echo $prefix, '-,', $prefix, '-v,', $prefix, '-t{margin-top:0px!important}';

		echo $prefix, '-,', $prefix, '-v,', $prefix, '-b{margin-bottom:0px!important}';
	}

	if($screenSize['Min'] !== null || $screenSize['Max'] !== null) {
		echo '}';
	}
}*/
?>

.slide {
	transition:
		margin-top 0.4s ease,
		margin-bottom 0.4s ease,
		padding-top 0.4s ease,
		padding-bottom 0.4s ease,
		border-top-width 0.4s ease,
		border-bottom-width 0.4s ease,
		opacity 0.4s ease,
		height 0.4s ease
	;
}

.slide.up {
	margin-top: 0px!important;
	margin-bottom: 0px!important;
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	border-top-width: 0px!important;
	border-bottom-width: 0px!important;
	opacity: 0.0;
	overflow: hidden!important;
	height: 0px!important;
}